*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
  }

  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .content {
    width: 90vw;
    border: 1px solid #000;
    position: relative;
    top: 8vh;
    padding: 1rem 0.5rem;
    margin: auto;
    background-color: #F9A03F;
    margin-bottom: 3rem;
  }

  .current-events-window {
    line-height: 1.6;
  }


  .border-country-span {
    text-decoration: underline;
    margin-left: 3px;
    padding-bottom: 1px;
  }

  .border-country-span:not(:last-child)::after {
    content: ',';
  }

  .border-country-span:hover {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 6px;
    text-decoration: none;
    /* Hack to make sure stuff doesn't move on hover */
    margin-right: 1.4px;
  }

  .border-country-span:hover::after {
    content: "";
  }

  @media only screen and (min-width: 750px) {
    .content {
      height: 320px;
      margin: 3rem 2rem;
      max-width: 340px;
    }

    
  }

